<div id="googledriveSettings">
    <h1>Google Drive Add-On Configuration</h1>

    <% if (failed) { %>
        <div id="error-message">
            <p><%- error %></p>
        </div>
    <% } else if (!failed && _method=="post") { %>
        <div id="success-message">
            <p>Successfully added a new API Token.</p>
        </div>
    <% } else if (!failed && _method=="delete") { %>
        <div id="success-message">
            <p>Successfully deleted the API Token.</p>
        </div>
    <% } %>

    <div id="newAPIFormWrapper">
        <h2>Add New API Key</h2>
        <p>Visit <a target="_blank" href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=https://eop2idyodk.execute-api.us-west-2.amazonaws.com/prod/getgoogledrivekey/&response_type=code&access_type=offline&client_id=117452562403-t7kabg8crp84g844d5oh3vudg829dup4.apps.googleusercontent.com&prompt=consent">this URL</a> and click accept to allow this app to query your device. <br></br>After authorizing this app, you will be granted an APIKey in a JSON Format like the following: {"APIKey":"<strong>c.123456433</strong>", "RefreshToken": "f4f..."}. You'll want to copy and paste this entire text blob into the JSON section of the Setup screen. You should also provide a unique name for this account in the "Name" field. </p>
	<form id="googledriveKeyForm" class="form-line">
            <div class="inlineFormComponent">
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
                       id="apiKeyName" name="apiKeyName" placeholder="Name for Key">
                <span class="help-block">Provide a useful name such as 'Home Google Drive'.</span>
            </div>
            <div class="inlineFormComponent">
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
                   id="apiKeyValue" name="apiKeyValue" placeholder="JSON">
            </div>
            <button type="submit" id="addKey" class="btn btn-primary">Add Key</button>
        </form>
    </div>
    <div id="keyListing">
        <h2>Current API Keys</h2>
        <% if(loaded) { %>
        <table class="table table-chrome table-striped wrapped-results">
            <thead class="shared-resultstable-resultstableheader">
                <tr>
                    <th>Key Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% if(!_.isEmpty(keys)) { %>
                    <% for (var key in keys) { %>
                        <% if (keys.hasOwnProperty(key)) { %>
                        <tr>
                            <td>
                                <%- key %>
                            </td>
                            <td>
                                <a class="deleteKey" href="#" data-delete="<%- key %>">Delete</a>
                            </td>
                        </tr>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td>It looks like you don't have any API keys. Add one!</td>
                        <td></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% } else { %>
         <p>Loading...</p>
        <% } %>
    </div>
</div>
